$eltwin-dark: rgb(0, 77, 61);

$eltwin-light: rgb(0, 151, 103);

$primary: $eltwin-light;

$secondary: $eltwin-dark;

.btn-primary {
  color: #fff !important;
}

hr {
  background-color: $secondary !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.notLoggedIn {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.loginBox h3 {
  margin-bottom: 20px;
}

.link-order {
  text-decoration: none;
  color: black;
}
.link-order:hover {
  text-decoration: none;
  color: black;
}

.blok {
  border-bottom: $primary 2px solid;
}

.blokKolor-0 {
  border-color: rgb(233, 8, 8) !important;
}
.blokKolor-1 {
  border-color: rgb(219, 183, 62) !important;
}
.blokKolor-2 {
  border-color: $primary !important;
}
